<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            #value
            {
                padding: 0px;
            }
            .row.content {height: 330px}
            #foot
            {
              color: black;
              text-decoration: none;
            }
      </style>
      </head>

    <div class="container-fluid">
    <header>
        <header  style="background-color: rgb(165, 163, 163);">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" style="color:white; font-size:35px" href="/"><i class="fa fa-cloud" aria-hidden="true"></i></a>
                  </div>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a id="foot" href="https://github.com/geonith-george" style="font-size:20px"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
                  </ul>
                </div>
              </nav>
        </header>
    </header>

    <div class="jumbotron">
        <h1 class="display-5">{{ name }} : {{ temp2 }}°C</h1>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-3"><h6>Current Temperature : {{ temp2 }}</h6><br></div>    
    </div>
      <div class="row">
        <div class="col-md-3"><h6>Longitude = {{ lon }}</h6><br></div>
      </div>
      <div class="row">
        <div class="col-md-3"><h6>Latitude = {{ lat }}</h6><br></div>
      </div>        
      <div class="row">
        <div class="col-md-3"><h6>Humidity : {{ w2 }}</h6><br></div> 
      </div>
      


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>